# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/GraddedUnit/nbproject/private/
/CookieChaser - Copy/build/
/CookieChaser - Copy/dist/
/CookieChaser - Copy/nbproject/private/
/Gradded-Unit/build/
/Gradded-Unit/dist/
/Gradded-Unit/nbproject/private/
/Gradded-Unit/PhpProject1/nbproject/private/
/Gradded-Unit/regex a source/nbproject/private/
/Gradded-Unit/regex a source/build/
/Gradded-Unit/regex a source/dist/
/Engine/nbproject/private/
/Engine/build/
/Engine/dist/